- name: Install Software
  become: true
  package:
    name: "{{ package }}"
    state: present
  loop:
    - qalc
    - mesa_utils
    - mc
    - tmux
    - python3-pip
    - python3-dev
  loop_control:
    loop_var: package
