---
- name: Check if eclim is installed
  stat:
    path: /opt/eclipse/eclimd
  register: eclimd_stat_result

- name: Download eclim
  get_url:
    url: https://github.com/ervandew/eclim/releases/download/2.8.0/eclim_2.8.0.bin
    dest: /tmp/eclim.bin
  when: eclimd_stat_result.stat.exists is sameas False

- name: Install eclim
  command: sh /tmp/eclim.bin --eclipse=/opt/eclipse --plugins=jdt --vimfiles=skip --yes
  args:
    creates: /opt/eclipse/eclimd
  when: eclimd_stat_result.stat.exists is sameas False

- name: Remove eclip installation file
  file:
    name: /tmp/eclim.bin
    state: absent