---
- name: Inlcude OS-specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_major_version | int}}.yml"
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
    - "default.yml"

- name: Extract Eclipse package
  become: true
  unarchive:
    src: "{{ package_url }}"
    dest: /opt
    remote_src: true

- name: Create symlink to application
  become: true
  file:
    src: /opt/eclipse/eclipse
    dest: /usr/local/bin/eclipse
    state: link

- name: Create Eclipse desktop launcher
  become: true
  copy:
    src: "{{ role_path }}/files/eclipse.desktop"
    dest: /usr/share/applications/eclipse.desktop
